body{
	background-image: url("../Imagenes/gris.jpg");
}

.pizza{
	color:black;
	background-color:red;
	border-radius: 30px;
}
.banner{
	color:red;
	font-family: "Showcard Gothic";
}

.menu{
	color:black;
	background: linear-gradient(white,red);
	border-radius: 60px;

}
div{
	font-family: unicorn;
}

a{
	color: black;
	transition: color, 1s;
}

a:hover{
	color: darkgreen;
}

img.si:hover{
	transform: scale(1.2);
	transition: 0.5s;
	transform: scale(1.3);
	transition: 0.5s;
	overflow: hidden;
}
img.pag{
	box-shadow: 1000px red;
	height: 500px;
	width: 700px;
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
	background-size: 100% auto;
}
table.gramaje{
	background: linear-gradient(red,white);
	border-color: black;
	border-spacing: 350px 5px;
	border-radius: 40px;
}